In [44]:
import tensorflow 
from keras.models import Sequential
from keras.layers import InputLayer,Dense
from keras.optimizers import Adam
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

In [30]:
data=pd.read_csv("Bank.csv")
data.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,210,1.4,93.444,-36.1,4.963,5228.1,0
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1

In [31]:
x=data.iloc[:,:7]
y=data.iloc[:,7]

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [33]:
model=Sequential()

In [34]:
model.add(InputLayer(input_shape=(7,)))# input layer
model.add(Dense(units=5,activation="relu"))# 5 nerons in hidden layer 1 
model.add(Dense(units=3,activation="relu"))# 3 nerons in hidden layer 2
model.add(Dense(units=1,activation="sigmoid"))# 5 nerons in output layer

In [35]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 5)                 40

 dense_14 (Dense)            (None, 3)                 18

 dense_15 (Dense)            (None, 1)                 4

=================================================================
Total params: 62
Trainable params: 62
Non-trainable params: 0
_________________________________________________________________

In [36]:
# 40 =5*7+5 (bias)

In [37]:
optim=Adam(lr=0.01)

/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [38]:
model.compile(loss="binary_crossentropy",optimizer=optim)

In [39]:
model.fit(x_train,y_train,epochs=50)

Epoch 1/50
1030/1030 [==============================] - 4s 2ms/step - loss: 5.2161
Epoch 2/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.3135
Epoch 3/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2567
Epoch 4/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2423
Epoch 5/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2347
Epoch 6/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2363
Epoch 7/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2406
Epoch 8/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2398
Epoch 9/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2394
Epoch 10/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2434
Epoch 11/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2416
Epoch 12/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2406
Epoch 13/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2364
Epoch 14/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2283
Epoch 15/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2266
Epoch 16/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2265
Epoch 17/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2280
Epoch 18/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2274
Epoch 19/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2261
Epoch 20/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2278
Epoch 21/50
1030/1030 [==============================] - 3s 2ms/step - loss: 0.2257
Epoch 22/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2254
Epoch 23/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2286
Epoch 24/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2280
Epoch 25/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2263
Epoch 26/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2288
Epoch 27/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2245
Epoch 28/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2246
Epoch 29/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2253
Epoch 30/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2267
Epoch 31/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2228
Epoch 32/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2244
Epoch 33/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2270
Epoch 34/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2237
Epoch 35/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2257
Epoch 36/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2232
Epoch 37/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2234
Epoch 38/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2243
Epoch 39/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2258
Epoch 40/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2236
Epoch 41/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2235
Epoch 42/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2258
Epoch 43/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2253
Epoch 44/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2251
Epoch 45/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2230
Epoch 46/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2226
Epoch 47/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2228
Epoch 48/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2275
Epoch 49/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2251
Epoch 50/50
1030/1030 [==============================] - 2s 2ms/step - loss: 0.2242

In [47]:
# for muti class classification 
y_pred = np.argmax(model.predict(x_test), axis=-1)
#The np.argmax() function returns the indices of the maximum values along a given axis. In this case, 
#the axis=-1 argument specifies that the function should operate along the last axis of the input array.

258/258 [==============================] - 0s 1ms/step

In [52]:
# for binary classification 
y_pred = (model.predict(x_test) > 0.5).astype("int32")

258/258 [==============================] - 0s 1ms/step

In [53]:
accuracy_score(y_test,y_pred)

0.8891721291575625

In [54]:
x_test

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
15500,51,104,-1.8,93.075,-47.1,1.405,5099.1
29034,31,551,-1.8,93.075,-47.1,1.466,5099.1
11199,33,116,1.4,93.918,-42.7,4.962,5228.1
22247,29,100,1.4,94.465,-41.8,4.961,5228.1
27180,57,216,-0.1,93.200,-42.0,4.021,5195.8
...,...,...,...,...,...,...,...
34422,47,63,-2.9,92.963,-40.8,1.224,5076.2
14868,38,106,1.1,93.994,-36.4,4.857,5191.0
40057,57,5,-0.1,93.200,-42.0,4.663,5195.8
24321,31,374,1.1,93.994,-36.4,4.857,5191.0
37567,40,21,1.4,93.918,-42.7,4.968,5228.1