In [1]:
import tensorflow 
from keras.models import Sequential
from keras.layers import InputLayer,Dense
from keras.optimizers import Adam
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

In [3]:
data=pd.read_csv("Housing Price.csv")
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05

In [4]:
x=data.iloc[:,:5].values
y=data.iloc[:,5].values

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [6]:
model=Sequential()

In [7]:
model.add(InputLayer(input_shape=(5,)))
model.add(Dense(units=3,activation="relu"))
model.add(Dense(units=2,activation="relu"))
model.add(Dense(units=1,activation="linear"))# regression

In [8]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 18

 dense_1 (Dense)             (None, 2)                 8

 dense_2 (Dense)             (None, 1)                 3

=================================================================
Total params: 29
Trainable params: 29
Non-trainable params: 0
_________________________________________________________________

In [9]:
optim=Adam(lr=0.01)

/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [10]:
model.compile(loss="mean_squared_error",optimizer=optim)

In [11]:
model_det=model.fit(x_train,y_train,epochs=50)

Epoch 1/50
125/125 [==============================] - 1s 2ms/step - loss: 737679507456.0000
Epoch 2/50
125/125 [==============================] - 0s 2ms/step - loss: 63574216704.0000
Epoch 3/50
125/125 [==============================] - 0s 2ms/step - loss: 63212265472.0000
Epoch 4/50
125/125 [==============================] - 0s 2ms/step - loss: 63053459456.0000
Epoch 5/50
125/125 [==============================] - 0s 2ms/step - loss: 62927527936.0000
Epoch 6/50
125/125 [==============================] - 0s 2ms/step - loss: 63115796480.0000
Epoch 7/50
125/125 [==============================] - 0s 2ms/step - loss: 62886875136.0000
Epoch 8/50
125/125 [==============================] - 0s 2ms/step - loss: 62921797632.0000
Epoch 9/50
125/125 [==============================] - 0s 2ms/step - loss: 62708523008.0000
Epoch 10/50
125/125 [==============================] - 0s 2ms/step - loss: 62823051264.0000
Epoch 11/50
125/125 [==============================] - 0s 2ms/step - loss: 62625558528.0000
Epoch 12/50
125/125 [==============================] - 0s 2ms/step - loss: 62775095296.0000
Epoch 13/50
125/125 [==============================] - 0s 2ms/step - loss: 62894923776.0000
Epoch 14/50
125/125 [==============================] - 0s 2ms/step - loss: 62625038336.0000
Epoch 15/50
125/125 [==============================] - 0s 2ms/step - loss: 62678548480.0000
Epoch 16/50
125/125 [==============================] - 0s 2ms/step - loss: 62675001344.0000
Epoch 17/50
125/125 [==============================] - 0s 2ms/step - loss: 63089958912.0000
Epoch 18/50
125/125 [==============================] - 0s 2ms/step - loss: 62699487232.0000
Epoch 19/50
125/125 [==============================] - 0s 2ms/step - loss: 62804611072.0000
Epoch 20/50
125/125 [==============================] - 0s 2ms/step - loss: 62811643904.0000
Epoch 21/50
125/125 [==============================] - 0s 2ms/step - loss: 62722621440.0000
Epoch 22/50
125/125 [==============================] - 0s 2ms/step - loss: 62588026880.0000
Epoch 23/50
125/125 [==============================] - 0s 2ms/step - loss: 62531973120.0000
Epoch 24/50
125/125 [==============================] - 0s 3ms/step - loss: 62507597824.0000
Epoch 25/50
125/125 [==============================] - 0s 3ms/step - loss: 63144026112.0000
Epoch 26/50
125/125 [==============================] - 0s 2ms/step - loss: 62559002624.0000
Epoch 27/50
125/125 [==============================] - 0s 3ms/step - loss: 62906748928.0000
Epoch 28/50
125/125 [==============================] - 0s 3ms/step - loss: 62802210816.0000
Epoch 29/50
125/125 [==============================] - 0s 2ms/step - loss: 62855933952.0000
Epoch 30/50
125/125 [==============================] - 0s 3ms/step - loss: 62702125056.0000
Epoch 31/50
125/125 [==============================] - 0s 2ms/step - loss: 62823264256.0000
Epoch 32/50
125/125 [==============================] - 0s 2ms/step - loss: 62681210880.0000
Epoch 33/50
125/125 [==============================] - 0s 2ms/step - loss: 62700904448.0000
Epoch 34/50
125/125 [==============================] - 0s 2ms/step - loss: 62536736768.0000
Epoch 35/50
125/125 [==============================] - 0s 2ms/step - loss: 62672773120.0000
Epoch 36/50
125/125 [==============================] - 0s 3ms/step - loss: 62637920256.0000
Epoch 37/50
125/125 [==============================] - 0s 2ms/step - loss: 62812250112.0000
Epoch 38/50
125/125 [==============================] - 0s 2ms/step - loss: 62663827456.0000
Epoch 39/50
125/125 [==============================] - 0s 2ms/step - loss: 62937038848.0000
Epoch 40/50
125/125 [==============================] - 0s 3ms/step - loss: 62813974528.0000
Epoch 41/50
125/125 [==============================] - 0s 2ms/step - loss: 62619557888.0000
Epoch 42/50
125/125 [==============================] - 0s 3ms/step - loss: 62697644032.0000
Epoch 43/50
125/125 [==============================] - 0s 2ms/step - loss: 62572044288.0000
Epoch 44/50
125/125 [==============================] - 0s 2ms/step - loss: 62618087424.0000
Epoch 45/50
125/125 [==============================] - 1s 5ms/step - loss: 62605283328.0000
Epoch 46/50
125/125 [==============================] - 0s 3ms/step - loss: 62631997440.0000
Epoch 47/50
125/125 [==============================] - 1s 5ms/step - loss: 62679179264.0000
Epoch 48/50
125/125 [==============================] - 1s 7ms/step - loss: 62889996288.0000
Epoch 49/50
125/125 [==============================] - 1s 4ms/step - loss: 62600257536.0000
Epoch 50/50
125/125 [==============================] - 1s 6ms/step - loss: 62547910656.0000

In [12]:
y_pred=model.predict(x_test)

32/32 [==============================] - 0s 3ms/step

In [13]:
np.sqrt(mean_squared_error(y_test,y_pred))

250545.68984255663

In [ ]:
#classical ML are better for structured data