In [3]:
# REgex functions 

#findall -returns a list contating all matches 
#search -returns a match object if there is a match anywhere in the string 
#split-return a list where the string has been split at each matchs
#sub -replaces one or many mathches with a strings

In [4]:
import re

In [5]:
#findall

In [6]:
txt="The rain in Spain"

In [7]:
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [8]:
x=re.findall("Portugal",txt)
print(x)

[]

In [9]:
# search

In [10]:
x=re.search("rain",txt)

print(x)
# get match object including true and false

<re.Match object; span=(4, 8), match='rain'>

In [11]:
if x:
  print("Yes")
else:
  print("No")

Yes

In [12]:
x.start() # starting index always focus about 1st matching index 2nd one disregarded

4

In [13]:
x.end()

8

In [14]:
#split

In [15]:
x=re.split(" ",txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [16]:
x=re.split("a",txt)
print(x)

['The r', 'in in Sp', 'in']

In [17]:
x=re.split("a",txt,1) # considering first a 
print(x)

['The r', 'in in Spain']

In [18]:
x=re.split("a",txt,2) # considering both
print(x)

['The r', 'in in Sp', 'in']

In [19]:
# sub

In [20]:
x=re.sub("a","9",txt)
print(x)

The r9in in Sp9in

In [21]:
x=re.sub("a","9",txt,1)
print(x)

The r9in in Spain

In [22]:
x=re.sub("a","9",txt,2)
print(x)

The r9in in Sp9in

In [23]:
# meta charaters

In [24]:
txt = "The rain in Spain"
#Find all lower case characters alphabetically between "a" and "m":
x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [25]:
txt = "That will be 59 dollars"
#Find all digit characters:
x = re.findall("\d", txt)
print(x)

['5', '9']

In [26]:
txt = "That will be 59 dollars"
#Find all space characters:
x = re.findall("\s", txt)
print(x)

[' ', ' ', ' ', ' ']

In [27]:
txt = "hello planet"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", txt)
print(x)

['hello']

In [28]:
txt = "iiheppow planet"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", txt)
print(x)

['heppo']

In [29]:
txt = "hello planet"
#Check if the string starts with 'hello':
x = re.findall("^hello", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [30]:
txt = "hello planet"
#Check if the string starts with 'hello':
x = re.findall("^hi", txt)
if x:
  print("Yes")
else:
  print("No")

No

In [31]:
txt = "hello planet"
#Check if the string ends with 'planet':
x = re.findall("planet$", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [32]:
txt = "hello planet"
#Check if the string ends with 'hello':
x = re.findall("hello$", txt)
if x:
  print("Yes")
else:
  print("No")

No

In [33]:
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 0 or more (any) characters, and an "o":
x = re.findall("he.*o", txt)
print(x)

['hello']

In [34]:
txt = "heo planet"
#Search for a sequence that starts with "he", followed by 0 or more (any) characters, and an "o":
x = re.findall("he.*o", txt)
print(x)

['heo']

In [35]:
txt = "heppo planet"
#Search for a sequence that starts with "hep", followed by 0 or more "p", and a
#n "o":
x = re.findall("hep*o", txt)
print(x)

['heppo']

In [66]:
txt = "hello planet"
#Search for a sequence that starts with "hep", followed by 0 or more "p", and a
#n "o":
x = re.findall("hep*o", txt)
print(x)

[]

In [37]:
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 1 or more (any) cha
#racters, and an "o":
x = re.findall("he.+o", txt)
print(x)

['hello']

In [38]:
txt = "heo planet"
#Search for a sequence that starts with "he", followed by 1 or more (any) cha
#racters, and an "o":
x = re.findall("he.+o", txt)
print(x)

[]

In [39]:
txt = "hello planet"
#Search for a sequence that starts with "h", followed by 0 or 1 (any) character, and an "llo":
x = re.findall("h.?llo", txt)
print(x)

['hello']

In [40]:
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 0 or 1 (any) charac
#ter, and an "o":
x = re.findall("he.?o", txt)
print(x)

[]

In [41]:
txt = "hello planet"
#Search for a sequence that starts with "he", followed excactly 2 (any) charac
#ters, and an "o":
x = re.findall("he.{2}o", txt)
print(x)

['hello']

In [67]:
txt = "The rain in Spain falls mainly in the plain!"
#Check if the string contains either "falls" or "stays":
x = re.findall("falls|stays", txt)
print(x)
if x:
  print("Yes")
else:
  print("No")

['falls']
Yes

In [43]:
# special sequences

In [44]:
txt = "The rain in Spain"
#Check if the string starts with "The":
x = re.findall("\AThe", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [45]:
txt = "The rain in Spain"
#Check if "ain" is present at the beginning of a WORD:
x = re.findall(r"\bain", txt)
if x:
  print("Yes")
else:
  print("No")

No

In [46]:
txt = "The rain in Spain"
#Check if "ain" is present at the end of a WORD:
x = re.findall(r"ain\b", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [47]:
txt = "The rain in Spain"
#Check if "ain" is present, but NOT at the beginning of a word:
x = re.findall(r"\Bain", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [48]:
txt = "The rain in Spain"
#Check if "ain" is present, but NOT at the end of a word:
x = re.findall(r"ain\B", txt)
if x:
  print("Yes")
else:
  print("No")

No

In [49]:
txt = "The rain in Spain"
#Check if the string contains any digits (numbers from 0-9):
x = re.findall("\d", txt)
if x:
  print("Yes")
else:
  print("No")

No

In [50]:
txt = "The rain in Spain"
#Return a match at every no-digit character:
x = re.findall("\D", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [51]:
txt = "The rain in Spain"
#Return a match at every white-space character:
x = re.findall("\s", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [52]:
txt = "The rain in Spain"
#Return a match at every NON white-space character:
x = re.findall("\S", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [53]:
txt = "The rain in Spain"
#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):
x = re.findall("\w", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [54]:
txt = "The rain in Spain"
#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):
x = re.findall("\W", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [55]:
txt = "The rain in Spain"
#Check if the string ends with "Spain":
x = re.findall("Spain\Z", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [56]:
# SETS

In [57]:
txt = "The rain in Spain"
#Check if the string has any a, r, or n characters:
x = re.findall("[arn]", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [58]:
txt = "The rain in Spain"
#Check if the string has any characters between a and n:
x = re.findall("[a-n]", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [59]:
txt = "The rain in Spain"
#Check if the string has other characters than a, r, or n:except(arn)
x = re.findall("[^arn]", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [60]:
txt = "The rain in Spain"
#Check if the string has any 0, 1, 2, or 3 digits:
x = re.findall("[0123]", txt)
if x:
  print("Yes")
else:
  print("No")

No

In [61]:
txt = "8 times before 11:45 AM"
#Check if the string has any digits:
x = re.findall("[0-9]", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [62]:
txt = "8 times before 11:45 AM"
#Check if the string has any two-digit numbers, from 00 to 49:
x = re.findall("[1-4][0-9]", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [63]:
txt = "8 times before 11:45 AM"
#Check if the string has any characters from a to z lower case, and A to Z upp
#er case:
x = re.findall("[a-zA-Z]", txt)
if x:
  print("Yes")
else:
  print("No")

Yes

In [64]:
txt = "8 times before 11:45 AM"
#Check if the string has any + characters:
x = re.findall("[+]", txt)
if x:
  print("Yes")
else:
  print("No")

No

In [65]:
txt = "8 times before 11:45 AM"
#Check if the string has any : characters:
x = re.findall("[:]", txt)
if x:
  print("Yes")
else:
  print("No")

Yes